.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #f3d235;
}

.logo {
  padding: 0 50px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.nav_menu {
  display: flex;
}

.nav_menu li {
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  padding: 0 1rem;
}
