.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #f3d235;
}

.logo {
  padding: 0 50px;
}

.link {
  color: inherit;
  text-decoration: none;
}
